{erl_opts, [debug_info]}.

{lfe_first_files, ["src/xt.lfe"]}.

{deps, [
    {coers, "0.5.0"},
    {elli, "3.3.0"},
    {elli_ws_undertone, "0.1.2"},
    {erlexec, "1.18.11"},
    {jsone, "1.5.7"},
    {lanes, "0.1.1"},
    {lanes_elli, "0.1.2"},
    {lfe, "2.0.1"},
    {logjam, "1.0.0-rc3"},
    {loise, "1.3.0-rc5"},
    {midilib, "0.3.0"},
    {osc_lib, "2.1.1"},
    {osc_server, "2.1.1"},
    {tcp_client, "0.3.0"}
]}.

{plugins, [
    {rebar3_lfe, "0.3.1"},
    {rebar3_undertone, "0.1.0-rc1"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {lfe, compile}}
    ]}
]}.

{xref_checks, [
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.

{relx, [
    {release,
        {undertone, "0.4.0-rc1"}, [
            inets,
            lfe,
            logjam,
            sasl,
            erlexec,
            'undertone-lib',
            undertone
        ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"},
            {ltest, "0.13.1"}
        ]},
        {plugins, [
            {rebar3_proper, "0.12.1"}
        ]},
        {eunit_opts, [verbose]},
        {erl_opts, [
            {src_dirs, ["src", "test"]}
        ]}
    ]},
    {extempore, [
        {undertone, [
            {repl, {'undertone.repl.extempore', start, []}}
        ]}
    ]},
    {undertone, [
        {undertone, [
            {repl, {'undertone.repl', start, []}}
        ]}
    ]},
    {prod, [
        [{relx, [{dev_mode, false},
                 {include_erts, true}]}]
    ]}
]}.

%% Default undertone REPL
{undertone, [
  %% Comment both out to default to the LFE REPL
  {repl, {'undertone.repl.extempore', start, []}}
  %%{repl, {'undertone.repl', start, []}}
]}.

{alias, [
    {repl, [
        compile,
        {lfe, repl}
    ]},
    %% Call the following with a profile, e.g.:
    %% - rebar3 as undertone utrepl
    %% - rebar3 as extempore utrepl
    %% Call with no profile to use the default
    {utrepl, [
        compile,
        {undertone, repl}
    ]},
    {ltest, [
        compile,
        {lfe, ltest}
    ]},
    {coverage, [
        {proper, "-c"},
        {cover, "-v --min_coverage=0"}
    ]},
    {check, [
        compile,
        %xref,
        %dialyzer,
        {lfe, ltest},
        coverage
    ]}
]}.
