{erl_opts, [debug_info]}.

{deps, [
    {coers, {git, "https://github.com/erlsci/coers", {tag, "0.3.0"}}},
    {lfe, {git, "https://github.com/rvirding/lfe", {branch, "develop"}}},
    {logjam, {git, "https://github.com/lfex/logjam", {tag, "1.0.0-rc2"}}},
    {midilib, {git, "https://github.com/erlsci/midilib", {branch, "release/0.3.x"}}},
    {osc, {git, "https://github.com/erlsci/osc", {branch, "release/2.2.x"}}},
    {erlexec, {git, "https://github.com/saleyn/erlexec", {ref, "8d423b2abbff82ecfb715191bca887974d558b06"}}},
    {'tcp-client', {git, "https://github.com/lfex/tcp-client", {tag, "0.2.1"}}}
]}.

{plugins, [
    {rebar3_lfe, {git, "https://github.com/lfe-rebar3/rebar3_lfe", {branch, "release/0.3.x"}}},
    {rebar3_undertone, {git, "https://github.com/ut-proj/rebar3_undertone.git", {branch, "release/0.1.x"}}}
]}.

{provider_hooks, [
    {pre, [
        {compile, {lfe, compile}}
    ]}
]}.

{xref_checks, [
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.

{relx, [
    {release,
        {undertone, "0.3.0-dev"},
        [
            lfe,
            logjam,
            sasl,
            erlexec,
            'undertone-lib',
            undertone
        ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, {git, "https://github.com/proper-testing/proper", {tag, "v1.3"}}},
            {ltest, {git, "https://github.com/lfex/ltest", {tag, "0.11.0"}}}
        ]},
        {plugins, [
            {rebar3_proper, {git, "https://github.com/ferd/rebar3_proper", {tag, "0.12.0"}}}
        ]},
        {eunit_opts, [verbose]},
        {erl_opts, [
            {src_dirs, ["src", "test"]}
        ]}
    ]},
    {extempore, [
        {undertone, [
            {repl, {'undertone.repl.extempore', start, []}}
        ]}
    ]},
    {undertone, [
        {undertone, [
            {repl, {'undertone.repl', start, []}}
        ]}
    ]},
    {prod, [
        [{relx, [{dev_mode, false},
                 {include_erts, true}]}]
    ]}
]}.

%% Default undertone REPL
{undertone, [
  %% Comment both out to default to the LFE REPL
  {repl, {'undertone.repl.extempore', start, []}}
  %%{repl, {'undertone.repl', start, []}}
]}.

{alias, [
    {repl, [
        compile,
        {lfe, repl}
    ]},
    %% Call the following with a profile, e.g.:
    %% - rebar3 as undertone utrepl
    %% - rebar3 as extempore utrepl
    %% Call with no profile to use the default
    {utrepl, [
        compile,
        {undertone, repl}
    ]},
    {ltest, [
        compile,
        {lfe, ltest}
    ]},
    {coverage, [
        {proper, "-c"},
        {cover, "-v --min_coverage=0"}
    ]},
    {check, [
        compile,
        xref,
        %dialyzer,
        {lfe, ltest},
        coverage
    ]}
]}.