[{kernel, [
     {logger, [
         {handler, default, logger_std_h,
             #{level => info,
              formatter => {logjam,
                  #{colored => true,
                    time_designator => $\s,
                    time_offset => "",
                    time_unit => second,
                    strip_tz => true,
                    level_capitalize => true
                   }}
             }
          }
     ]},
     {logger_level, info}
 ]},
 {'undertone', []}
].
