[{kernel, [
     {logger, [
         {handler, default, logger_std_h,
             #{level => notice,
              formatter => {logjam,
                  #{colored => true,
                    time_designator => $\s,
                    time_offset => "",
                    time_unit => second,
                    strip_tz => true,
                    level_capitalize => true
                   }}
             }
         }
     ]}
 ]},
 {undertone, [
     {backend, [
         %% General config
         {name, extempore},
         %{name, supercollider},
         %% Backend-specific configs
         {extempore, [
             {'display-name', "Extempore"},
             {version, "0.8.7"},
             {host, "localhost"},
             {port, 7099},
             {'root-dir', "/opt/extempore/0.8.7/"},
             {binary, "extempore"},
             {'manage-binary?', true},
             {'has-client?', true},
             {'start-client?', true}
         ]},
         {supercollider, [
             {'display-name', "SuperCollider"},
             {host, "localhost"}
         ]}
     ]},
     {banner, "text/banner.ascii"},
     {osc, [
         {servers, []},
         {clients, [
             {ardour, [
                 {'enabled?', false},
                 {host, "localhost"},
                 {port, 1234}
             ]}
         ]}
     ]},
     {prompt, "lfe> "},
     {repl, [
         {default, extempore},
         {autostart, true},
         {extempore, [
             %%{prompt, "extempore> "},
             {prompt, "xt> "},
             {'session-table', xtreplsession},
             {'history-table', xtreplhistory}
         ]},
         {undertone, [
             %%{prompt, "undertone> "},
             {prompt, "ut> "},
             {'session-table', utreplsession},
             {'history-table', utreplhistory}
         ]}
     ]},
     {session, [
         {options, [ordered_set, named_table, public]},
         {'show-max', 50},
         %% XXX delete the following
         {table, replsession}
     ]},
     {history, [
         {options, []}, % These will be Mnesia options
         {'show-max', 100}
     ]}
 ]},
 {'tcp-client', [
     {server, [
         {host, "localhost"},
         {port, 7099},
         {options, [
             {'tcp-opts', [binary, {active, true}, {packet, 0}]},
             {parser, {'xt.msg', 'parse-response'}},
             {reporter, {'xt.msg', report}},
             {'init-backoff', 500}, % in ms
             {'max-backoff', 60000} % in ms
         ]}
     ]}
 ]}
].
