[{kernel, [
     {logger, [
         {handler, default, logger_std_h,
             #{level => debug,
              formatter => {logjam,
                  #{colored => true,
                    time_designator => $\s,
                    time_offset => "",
                    time_unit => second,
                    strip_tz => true,
                    level_capitalize => true
                   }}
             }
          }
     ]},
     {logger_level, debug}
 ]},
 {undertone, [
     {backend, [
         %% General config
         {name, extempore},
         %{name, supercollider},
         %% Backend-specific configs
         {extempore, [
             {host, "localhost"},
             {port, 7099},
             {'root-dir', "/opt/extempore/0.8.7/"},
             {'manage-binary?', true},
             {'has-client?', true},
             {'start-client?', true}
         ]},
         {supercollider, [
         ]}
     ]},
     {osc, [
         {servers, []},
         {clients, [
             {ardour, [
                 {'enabled?', false},
                 {host, "localhost"},
                 {port, 1234}
             ]}
         ]}
     ]}
 ]}
].
